<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699058761991-jr3m13ssb9ihq2o5scs5tfn3jnt7dv5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699058761991-jr3m13ssb9ihq2o5scs5tfn3jnt7dv5a</string>
	<key>API_KEY</key>
	<string>AIzaSyC2CnlD1NskpMzsN7xHjaT-BozTKE3R1MI</string>
	<key>GCM_SENDER_ID</key>
	<string>699058761991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloWorld4</string>
	<key>PROJECT_ID</key>
	<string>hello-world4-555c6</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-world4-555c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699058761991:ios:46d0c72b4ce152ad2a15a2</string>
	<key>DATABASE_URL</key>
	<string>https://hello-world4-555c6.firebaseio.com</string>
</dict>
</plist>